.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url('../../img/bg.jpg') center (center/cover) no-repeat;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;
  }
  &__header {
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__subheader {
    margin-top: 17px;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__icons {
    margin-top: 60px;
    width: 424px;
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    width: 108px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    img {
      margin: 0 auto;
      margin-bottom: 20px;
      display: block;
    }
  }

  &__link {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    a {
      text-transform: uppercase;
      text-decoration: underline;
      color: #fff;
    }
  }
}
